.item {
    background: white;
    border: white solid 5px;
    border-radius: 10px;
    color: black;
    margin: 5px;
}

.item img {
    border-radius: 50%;
    width: 50px;
    border: black solid 1px;
}