.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}
.dialogs a{
    color: #F0F0F0;
    text-decoration: none;
}

.dialogs a:hover{
    color: #40b17b;
    font-weight: bold;
}